@import "tailwindcss";
@import "../components/ui/Btn/Btn.css";

html,
body {
  height: 100%;
}

:root {
  --sizeBorda: 0%;
  --accentColor: #cbee87;
  --lightColor: #f2eed9;
  --bgDrkColor: #26251f;
  --baseColor: #26251f;

  --redColor: #ed5a43;
}

.heroTitle {
  color: black;
  /* background: linear-gradient(217deg, #f3f0eb 35.5%, #dfe830 119.1%); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */

  font-size: clamp(3rem, 5vw, 3.6rem);
  line-height: clamp(3.2rem, 5vw, 4.2rem);
}

.heroSubtitle {
  font-size: clamp(1rem, 5vw, 2rem);
  line-height: clamp(1.2rem, 5vw, 2.2rem);
}

.btnContainer::before {
  content: "";
  display: flex;
  height: var(--sizeBorda);

  width: 2px;
  background: #4b4b4bf2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
}

@media (width <= 64rem) {
  .btnContainer::before {
    display: none;
  }
}

.btnDescription {
  transform: translateY(100px);
  opacity: 0;
}

.btnDiv {
  transform: translateY(100px);
  opacity: 0;
}
.titleSize {
  font-size: clamp(3rem, 6vw, 4rem);
  line-height: clamp(3.2rem, 6vw, 4.2rem);
}

.textSize {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  line-height: clamp(1.5rem, 6vw, 2.8rem);
}
.bulletItemTitle {
  font-size: clamp(2rem, 6vw, 2.5rem);
  line-height: clamp(1.5rem, 6vw, 2.8rem);
}

.heroSection,
.imgSection,
.bulletsSection {
  background: #0c1517;
}

.bulletIcon {
  stroke: #0c1517;
  height: 2rem;
  width: 2rem;
}

.textCardSize {
  font-size: clamp(1rem, 6vw, 1.2rem);
  line-height: clamp(1.2rem, 6vw, 1.3rem);
}

.cardIcon {
  width: 6rem;
  height: auto;
}

.cardService {
  position: sticky;
  max-width: 25%;
  height: 600px;
}

.cardDesign {
  top: 5%;
}

.cardDev {
  top: 10%;
  left: 25%;
}

.cardOptimization {
  top: 15%;
  left: 50%;
}
.cardSuport {
  top: 20%;
  left: 75%;

  background: var(--redColor);
}

.imgDivUm img,
.imgDivDois img {
  width: auto;
  height: 500px;
}
